<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Course Schedule</title>
</head>


<body>
<div id="app">

    <div class="print-button-container">
        <!--Search Box-->
        <el-form :inline="true" :model="searchForm" class="demo-form-inline">
            <el-form-item label="Class Name：">
                <el-input v-model="searchForm.task.cclasses.classesName" placeholder="Fuzzy Search"></el-input>
            </el-form-item>
            <el-form-item label="Teacher Name：">
                <el-input v-model="searchForm.task.teacher.teacherName" placeholder="Fuzzy Search"></el-input>
            </el-form-item>
            <el-form-item label="Room Name：">
                <el-input v-model="searchForm.room.roomName" placeholder="Fuzzy Search"></el-input>
            </el-form-item>

            <el-form-item>
                <el-tooltip class="item" effect="dark" content="Results from Fuzzy Search may be overwritten" placement="right">
                    <el-button type="primary" @click="selectByCondition">Search</el-button>
                </el-tooltip>
            </el-form-item>

            <el-form-item>
                <el-button type="primary" @click="printPage" icon="el-icon-printer">Print</el-button>
            </el-form-item>
        </el-form>

    </div>
    <!--  Table-->
    <el-table
            :data="tableData"
            stripe
            style="width: 100%"
    >

        <el-table-column
                fixed
                prop="time"
                align="center">
            <template slot-scope="scope">
                <span v-html="scope.row.time"></span>
            </template>
        </el-table-column>

        <el-table-column
                prop="Mon"
                label="Monday"
                align="center">
            <template slot-scope="scope">
                <span v-html="scope.row.Mon"></span>
            </template>
        </el-table-column>

        <el-table-column
                prop="Tues"
                label="Tuesday"
                align="center">
            <template slot-scope="scope">
                <span v-html="scope.row.Tues"></span>
            </template>
        </el-table-column>

        <el-table-column
                prop="Wed"
                label="Wednesday"
                align="center">
            <template slot-scope="scope">
                <span v-html="scope.row.Wed"></span>
            </template>
        </el-table-column>

        <el-table-column
                prop="Thur"
                label="Thursday"
                align="center">
            <template slot-scope="scope">
                <span v-html="scope.row.Thur"></span>
            </template>
        </el-table-column>

        <el-table-column
                prop="Fri"
                label="Friday"
                align="center">
            <template slot-scope="scope">
                <span v-html="scope.row.Fri"></span>
            </template>
        </el-table-column>

        <el-table-column
                prop="Sat"
                label="Saturday"
                align="center">
            <template slot-scope="scope">
                <span v-html="scope.row.Sat"></span>
            </template>
        </el-table-column>

        <el-table-column
                prop="Sun"
                label="Sunday"
                align="center">
            <template slot-scope="scope">
                <span v-html="scope.row.Sun"></span>
            </template>
        </el-table-column>

    </el-table>


</div>


</body>

<!--Import Resources-->
<script src="js/vue.js"></script>
<script src="element-ui/lib/index.js"></script>
<link rel="stylesheet" href="element-ui/lib/theme-chalk/index.css">
<link rel="stylesheet" href="css/table.css">
<script src="js/axios-0.18.0.js"></script>

<script>
    new Vue({
        el: "#app",
        mounted() {
            this.selectByCondition();
        },
        methods: {


            printPage() {
                window.print();
            },

            selectByCondition() {
                //Clear previous search data, assign a new empty object each time
                this.tableData = JSON.parse(JSON.stringify(this.clearTableData));
                console.log(this.tableData);
                var _this = this;
                axios({
                    method: "post",
                    url: "/courseTable/selectTable",
                    data: this.searchForm
                }).then(function (resp) {
                    //Set table data
                    _this.toTable(resp.data)
                })
            },

            toTable(tableResult) {
                //Getting the index!
                // tableResult[index].task.cclasses.classesName + "</br>" +
                for (let index in tableResult) {
                    var str = tableResult[index].task.cclasses.course.courseName + "</br>" +
                        tableResult[index].task.teacher.teacherName + "</br>" +
                        tableResult[index].task.startWeek + "-" + tableResult[index].task.endWeek + " weeks</br>" +
                        tableResult[index].room.roomName + "</br>";

                    if (tableResult[index].timeslot.id >= 1 && tableResult[index].timeslot.id <= 5) {
                        var i = (tableResult[index].timeslot.id - 1) % 5;
                        this.tableData[i].Mon = str;

                    }
                    if (tableResult[index].timeslot.id >= 6 && tableResult[index].timeslot.id <= 10) {
                        var i = (tableResult[index].timeslot.id - 1) % 5;
                        this.tableData[i].Tues = str;

                    }
                    if (tableResult[index].timeslot.id >= 11 && tableResult[index].timeslot.id <= 15) {
                        var i = (tableResult[index].timeslot.id - 1) % 5;
                        this.tableData[i].Wed = str;

                    }
                    if (tableResult[index].timeslot.id >= 16 && tableResult[index].timeslot.id <= 20) {
                        var i = (tableResult[index].timeslot.id - 1) % 5;
                        this.tableData[i].Thur = str;

                    }
                    if (tableResult[index].timeslot.id >= 21 && tableResult[index].timeslot.id <= 25) {
                        var i = (tableResult[index].timeslot.id - 1) % 5;
                        this.tableData[i].Fri = str;

                    }
                    if (tableResult[index].timeslot.id >= 26 && tableResult[index].timeslot.id <= 30) {
                        var i = (tableResult[index].timeslot.id - 1) % 5;
                        this.tableData[i].Sat = str;

                    }
                    if (tableResult[index].timeslot.id >= 31 && tableResult[index].timeslot.id <= 35) {
                        var i = (tableResult[index].timeslot.id - 1) % 5;
                        this.tableData[i].Sun = str;

                    }
                }

            },


        },
        data() {
            return {
                searchForm: {
                    task: {
                        cclasses: {
                            classesName: '',
                        },
                        teacher: {
                            teacherName: '',
                        },
                        startWeek: "",
                    },
                    room: {
                        roomName: ''
                    }
                },

                // time:["Period 1\n08:30-10:05","Period 2\n10：25-12:00",
                //     "Period 3\n14:00-15:35","Period 4\n15:55-17:30",
                //     "Period 5\n19:00-20:35",],

                tableResult: [],
                clearTableData: [
                    {time: " Period 1 </br> 08:30-10:05 ", Mon: '', Tues: '', Wed: '', Thur: '', Fri: '', Sat: '', Sun: ''},
                    {
                        time: " Period 2 </br>  10:25-12:00 ",
                        Mon: '',
                        Tues: '',
                        Wed: '',
                        Thur: '',
                        Fri: '',
                        Sat: '',
                        Sun: ''
                    },
                    {
                        time: " Period 3 </br>  14:00-15:35 ",
                        Mon: '',
                        Tues: '',
                        Wed: '',
                        Thur: '',
                        Fri: '',
                        Sat: '',
                        Sun: ''
                    },
                    {
                        time: " Period 4 </br>  15:55-17:30 ",
                        Mon: '',
                        Tues: '',
                        Wed: '',
                        Thur: '',
                        Fri: '',
                        Sat: '',
                        Sun: ''
                    },
                    {
                        time: " Period 5 </br>  19:00-20:35 ",
                        Mon: '',
                        Tues: '',
                        Wed: '',
                        Thur: '',
                        Fri: '',
                        Sat: '',
                        Sun: ''
                    },],
                tableData: [
                    {time: " Period 1 </br> 08:30-10:05 ", Mon: '', Tues: '', Wed: '', Thur: '', Fri: '', Sat: '', Sun: ''},
                    {
                        time: " Period 2 </br>  10:25-12:00 ",
                        Mon: '',
                        Tues: '',
                        Wed: '',
                        Thur: '',
                        Fri: '',
                        Sat: '',
                        Sun: ''
                    },
                    {
                        time: " Period 3 </br>  14:00-15:35 ",
                        Mon: '',
                        Tues: '',
                        Wed: '',
                        Thur: '',
                        Fri: '',
                        Sat: '',
                        Sun: ''
                    },
                    {
                        time: " Period 4 </br>  15:55-17:30 ",
                        Mon: '',
                        Tues: '',
                        Wed: '',
                        Thur: '',
                        Fri: '',
                        Sat: '',
                        Sun: ''
                    },
                    {
                        time: " Period 5 </br>  19:00-20:35 ",
                        Mon: '',
                        Tues: '',
                        Wed: '',
                        Thur: '',
                        Fri: '',
                        Sat: '',
                        Sun: ''
                    },]

            }
        }
    })
</script>


</html>