<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Course Management</title>
</head>
<body>
<div id="app">
    <!--Search Box-->
    <el-form :inline="true" :model="searchForm" class="demo-form-inline">
        <el-form-item label="Course Code：">
            <el-input v-model="searchForm.code" placeholder="Fuzzy Search"></el-input>
        </el-form-item>

        <el-form-item label="Course Name：">
            <el-input v-model="searchForm.courseName" placeholder="Fuzzy Search"></el-input>
        </el-form-item>

        <el-form-item>
            <el-button type="primary" @click="selectByCondition">Search</el-button>
        </el-form-item>
    </el-form>

    <!-- Batch -->
    <el-row>
        <el-button type="danger" plain @click="deleteByIds">Batch Delete</el-button>
        <el-button type="primary" plain @click="addFormVisible = true">Add Course</el-button>
    </el-row>

    <!-- Table -->
    <el-table
            :data="tableData"
            style="width: 100%"
            @selection-change="handleSelectionChange"
    >
        <el-table-column
                type="selection"
                width="55">
        </el-table-column>
        <el-table-column
                prop="code"
                label="Course Code"
                align="center">
        </el-table-column>
        <el-table-column
                prop="courseName"
                label="Course Name"
                align="center">
        </el-table-column>
        <el-table-column
                prop="remark"
                label="Remark"
                align="center">
        </el-table-column>

        <el-table-column label="Operation" align="center">
            <template slot-scope="scope">
                <el-button
                        size="mini"
                        @click="handleEdit(scope.$index, scope.row)">Edit
                </el-button>
                <el-button
                        size="mini"
                        type="danger"
                        @click="handleDelete(scope.$index, scope.row)">Delete
                </el-button>
            </template>
        </el-table-column>

    </el-table>

    <!-- Add Dialog -->
    <el-dialog title="Add Course" :visible.sync="addFormVisible" width="30%"
    >
        <el-form ref="form" :model="courseForm" label-width="80px">
            <el-form-item label="Course Code">
                <el-input v-model="courseForm.code" ></el-input>
            </el-form-item>
            <el-form-item label="Course Name">
                <el-input v-model="courseForm.courseName"></el-input>
            </el-form-item>
            <el-form-item label="Remark">
                <el-input type="textarea" v-model="courseForm.remark"></el-input>
            </el-form-item>

            <el-form-item>
                <el-button type="primary" @click="addCourse">Submit</el-button>
                <el-button @click="addFormVisible=false">Cancel</el-button>
            </el-form-item>
        </el-form>

    </el-dialog>

    <!-- Edit Dialog -->
    <el-dialog title="Edit Course" :visible.sync="updateFormVisible" width="30%"
    >
        <el-form ref="form" :model="courseForm" label-width="80px">
            <el-form-item label="Course Code">
                <el-input v-model="courseForm.code" ></el-input>
            </el-form-item>
            <el-form-item label="Course Name">
                <el-input v-model="courseForm.courseName"></el-input>
            </el-form-item>
            <el-form-item label="Remark">
                <el-input type="textarea" v-model="courseForm.remark"></el-input>
            </el-form-item>

            <el-form-item>
                <el-button type="primary" @click="updateCourse()">Submit</el-button>
                <el-button @click="updateFormVisible=false">Cancel</el-button>
            </el-form-item>
        </el-form>

    </el-dialog>


    <!-- Pagination -->
    <div class="block">
        <el-pagination
                @size-change="handleSizeChange"
                @current-change="handleCurrentChange"
                :current-page="currentPage"
                :page-sizes="[5, 10, 15, 20]"
                :page-size="pageSize"
                layout="total, sizes, prev, pager, next, jumper"
                :total="totalCount">
        </el-pagination>
    </div>

</div>


<!-- Import Resources -->
<script src="js/vue.js"></script>
<script src="element-ui/lib/index.js"></script>
<link rel="stylesheet" href="element-ui/lib/theme-chalk/index.css">
<script src="js/axios-0.18.0.js"></script>


<script>
    //Create Vue core object
    new Vue({
        el: "#app",
        mounted() {
            this.selectByCondition();
        },
        methods: {

            //Edit  Delete
            handleEdit(index, row) {
                //Fill data using JSON to break model binding
                this.courseForm = JSON.parse(JSON.stringify(row));
                this.oldCode =JSON.parse(JSON.stringify(row.code)) ;
                //Open edit form
                this.updateFormVisible = true;
            },

            handleDelete(index, row) {
                this.multipleSelection[0] = row;
                this.deleteByIds();
            },

            //Search
            selectByCondition() {
                var _this = this;
                axios({
                    method: "post",
                    url: "/course/selectByCondition?"+
                        "currentPage=" +_this.currentPage+"&pageSize="+_this.pageSize,
                    data: this.searchForm
                }).then(function (resp) {
                    //Set table data
                    _this.tableData = resp.data.list;
                    _this.totalCount = resp.data.total;
                })
            },


            //Pagination
            handleSizeChange(val) {
                //Reset page size
                this.pageSize = val;
                //Search again
                this.selectByCondition();
            },
            handleCurrentChange(val) {
                this.currentPage = val;
                //Search again
                this.selectByCondition();
            },


            //Checkbox event
            handleSelectionChange(val) {
                this.multipleSelection = val;
            },

            //Batch delete
            deleteByIds() {
                var _this = this;
                //Not selected
                if (this.multipleSelection.length == 0){
                    //Show message
                    _this.$message({
                        message: 'No items selected!',
                        type: 'error',
                        center: true
                    });
                }else {
                    this.$confirm('This operation will delete the selected items. Continue?', "Confirm", {
                        confirmButtonText: "Confirm",
                        cancelButtonText: "Cancel",
                        type: "warning"
                    }).then(() => {
                        //User clicks confirm button
                        for (let i = 0; i < this.multipleSelection.length; i++) {
                            this.selectIds[i] = this.multipleSelection[i].id;
                        }
                        //Send ajax request
                        axios({
                            method: "post",
                            url: '/course/deleteByIds',
                            data: _this.selectIds
                        }).then(function (resp) {
                            if (resp.data == "success") {
                                //Delete success, search again
                                _this.selectByCondition();
                                //Show message
                                _this.$message({
                                    message: 'Operation success',
                                    type: 'success',
                                    center: true
                                });
                            }

                        })
                    })
                }

            },


            //Submit add form
            addCourse() {
                var _this = this;
                axios({
                    method: "post",
                    url: "/course/add",
                    data: _this.courseForm
                }).then(function (resp) {
                    //Close dialog
                    _this.addFormVisible = false;
                    if (resp.data == "success") {
                        //Search again
                        _this.selectByCondition();
                        //Show message
                        _this.$message({
                            message: 'Add success',
                            type: 'success',
                            center: true
                        });
                    }else {
                        _this.$message({
                            message: 'Course already exists!',
                            type: 'error',
                            center: true,
                        });
                    }
                })
            },

            //Submit update form
            updateCourse() {
                var _this = this;
                //Check if code is modified
                var flag = false;
                if (this.oldCode != this.courseForm.code){
                    flag = true;
                }
                axios({
                    method: "post",
                    url: "/course/update?flag="+flag,
                    data: _this.courseForm
                }).then(function (resp) {
                    if (resp.data == "success") {
                        //Close dialog
                        _this.updateFormVisible = false;
                        //Search again
                        _this.selectByCondition();
                        //Show message
                        _this.$message({
                            message: 'Update success',
                            type: 'success',
                            center: true
                        });
                    }else {
                        //Close dialog
                        _this.updateFormVisible = false;
                        //Show message
                        _this.$message({
                            message: 'Course already exists!',
                            type: 'error',
                            center: true
                        });
                    }
                })
            }


        },


        //Data
        data() {
            return {
                //Pagination
                //Current page
                currentPage: 1,
                //Total pages
                totalCount: 0,
                //Current item count
                pageSize: 5,


                //Selected array
                selectIds: [],

                //Add visible
                addFormVisible: false,
                //Update visible
                updateFormVisible: false,
                searchForm: {
                    code: '',
                    courseName: ''
                },

                oldCode:'',
                //Add form
                courseForm: {
                    code: '',
                    courseName: '',
                    remark:''
                },

                //Checkbox value?
                multipleSelection: [],

                //Table data
                tableData: [],

            }
        }
    })

</script>


</body>
</html>