<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>User Management</title>
</head>
<body>
<div id="app">
    <!--Search Box-->
    <el-form :inline="true" :model="searchForm" class="demo-form-inline">
        <el-form-item label="Current Status：">
            <el-select v-model="searchForm.status" clearable  placeholder="Current Status">
                <el-option label="Enabled" value="1"></el-option>
                <el-option label="Disabled" value="0"></el-option>
            </el-select>
        </el-form-item>

        <el-form-item label="Username：">
            <el-input v-model="searchForm.userName" placeholder="Fuzzy Search"></el-input>
        </el-form-item>

        <el-form-item>
            <el-button type="primary" @click="selectByCondition">Search</el-button>
        </el-form-item>
    </el-form>

    <!--Batch-->
    <el-row>
        <el-button type="danger" plain @click="disableByIds">Batch Disable</el-button>
        <el-button type="primary" plain @click="addFormVisible = true">Add User</el-button>
    </el-row>

    <!--Table-->
    <el-table
            :data="tableData"
            style="width: 100%"
            @selection-change="handleSelectionChange"
    >
        <el-table-column
                type="selection"
                width="55">
        </el-table-column>
        <el-table-column
                prop="id"
                label="ID"
                align="center">
        </el-table-column>
        <el-table-column
                prop="userName"
                label="Username"
                align="center">
        </el-table-column>
        <el-table-column
                prop="password"
                label="Password"
                align="center">
        </el-table-column>
        <el-table-column
                prop="statusStr"
                label="Status"
                align="center">
        </el-table-column>

        <el-table-column label="Operation" align="center">
            <template slot-scope="scope">
                <el-button
                        size="mini"
                        @click="handleEdit(scope.$index, scope.row)">Edit
                </el-button>
                <el-button
                        size="mini"
                        type="danger"
                        @click="handleDelete(scope.$index, scope.row)">Delete
                </el-button>
            </template>
        </el-table-column>

    </el-table>

    <!--Add Dialog-->
    <el-dialog title="Add User" :visible.sync="addFormVisible" width="30%"
    >
        <el-form ref="form" :model="userForm" label-width="80px">
            <el-form-item label="Username：">
                <el-input v-model="userForm.userName"></el-input>
            </el-form-item>
            <el-form-item label="Password：">
                <el-input v-model="userForm.password"></el-input>
            </el-form-item>
            <el-form-item label="Status">
                <el-switch
                        :active-value=1
                        :inactive-value=0
                        v-model="userForm.status">
                </el-switch>
            </el-form-item>

            <el-form-item>
                <el-button type="primary" @click="addUser">Submit</el-button>
                <el-button @click="addFormVisible=false">Cancel</el-button>
            </el-form-item>
        </el-form>

    </el-dialog>

    <!--Edit Dialog   -->
    <el-dialog title="Edit User" :visible.sync="updateFormVisible" width="30%"
    >
        <el-form ref="form" :model="userForm" label-width="80px">
            <el-form-item label="Username：">
                <el-input v-model="userForm.userName"></el-input>
            </el-form-item>
            <el-form-item label="Password：">
                <el-input v-model="userForm.password"></el-input>
            </el-form-item>
            <el-form-item label="Status">
                <el-switch
                        :active-value=1
                        :inactive-value=0
                        v-model="userForm.status">
                </el-switch>
            </el-form-item>

            <el-form-item>
                <el-button type="primary" @click="updateUser">Submit</el-button>
                <el-button @click="updateFormVisible=false">Cancel</el-button>
            </el-form-item>
        </el-form>

    </el-dialog>


    <!--Pagination-->
    <div class="block">
        <el-pagination
                @size-change="handleSizeChange"
                @current-change="handleCurrentChange"
                :current-page="currentPage"
                :page-sizes="[5, 10, 15, 20]"
                :page-size="pageSize"
                layout="total, sizes, prev, pager, next, jumper"
                :total="totalCount">
        </el-pagination>
    </div>

</div>


<!--Import Resources-->
<script src="js/vue.js"></script>
<script src="element-ui/lib/index.js"></script>
<link rel="stylesheet" href="element-ui/lib/theme-chalk/index.css">
<script src="js/axios-0.18.0.js"></script>


<script>
    //Create Vue core object
    new Vue({
        el: "#app",
        mounted() {
            this.selectByCondition();
        },
        methods: {

            //Edit  Delete
            handleEdit(index, row) {
                //Fill data using JSON to break model binding
                this.userForm = JSON.parse(JSON.stringify(row));
                this.oldName =JSON.parse(JSON.stringify(row.userName)) ;
                //Open edit form
                this.updateFormVisible = true;
            },

            handleDelete(index, row) {
                this.$confirm('This operation will delete the user, continue?', "Prompt", {
                    confirmButtonText: "Confirm",
                    cancelButtonText: "Cancel",
                    type: "warning"
                }).then(() => {
                    //User clicks confirm button
                    var _this = this;
                    //Send ajax request
                    axios({
                        method: "post",
                        url: '/user/deleteById',
                        data: row
                    }).then(function (resp) {
                        if (resp.data == "success") {
                            //Delete success, search again
                            _this.selectByCondition();
                            //Show message
                            _this.$message({
                                message: 'Delete success',
                                type: 'success',
                                center: true
                            });
                        }

                    })
                })
            },

            //Search
            selectByCondition() {
                var _this = this;
                axios({
                    method: "post",
                    url: "/user/selectByCondition?"+
                        "currentPage=" +_this.currentPage+"&pageSize="+_this.pageSize,
                    data: this.searchForm
                }).then(function (resp) {
                    //Set table data
                    _this.tableData = resp.data.list;
                    _this.totalCount = resp.data.total;
                })
            },


            //Pagination
            handleSizeChange(val) {
                //Reset page size
                this.pageSize = val;
                //Search again
                this.selectByCondition();
            },
            handleCurrentChange(val) {
                this.currentPage = val;
                //Search again
                this.selectByCondition();
            },


            //Checkbox event
            handleSelectionChange(val) {
                this.multipleSelection = val;
            },

            //Batch Disable
            disableByIds() {
                var _this = this;
                //Not selected
                if (this.multipleSelection.length == 0){
                    //Show message
                    _this.$message({
                        message: 'No selected items!',
                        type: 'error',
                        center: true
                    });
                }else {
                    this.$confirm('This operation will disable the user, continue?', "Prompt", {
                        confirmButtonText: "Confirm",
                        cancelButtonText: "Cancel",
                        type: "warning"
                    }).then(() => {
                        //User clicks confirm button
                        for (let i = 0; i < this.multipleSelection.length; i++) {
                            this.selectIds[i] = this.multipleSelection[i].id;
                        }
                        //Send ajax request
                        axios({
                            method: "post",
                            url: '/user/disableByIds',
                            data: _this.selectIds
                        }).then(function (resp) {
                            if (resp.data == "success") {
                                //Disable success, search again
                                _this.selectByCondition();
                                //Show message
                                _this.$message({
                                    message: 'Operation successful',
                                    type: 'success',
                                    center: true
                                });
                            }

                        })
                    })
                }

            },


            //Submit add form
            addUser() {
                var _this = this;
                axios({
                    method: "post",
                    url: "/user/add",
                    data: _this.userForm
                }).then(function (resp) {
                    //Close dialog
                    _this.addFormVisible = false;
                    if (resp.data == "success") {
                        //Search data again
                        _this.selectByCondition();
                        //Show message
                        _this.$message({
                            message: 'Add success',
                            type: 'success',
                            center: true
                        });
                    }else {
                        _this.$message({
                            message: 'Username already exists!',
                            type: 'error',
                            center: true,
                        });
                    }
                })
            },

            //Submit update form
            updateUser() {
                var _this = this;
                //Check if name is modified
                var flag = false;
                if (this.oldName != this.userForm.userName){
                    flag = true;
                }
                axios({
                    method: "post",
                    url: "/user/update?flag="+flag,
                    data: _this.userForm
                }).then(function (resp) {
                    if (resp.data == "success") {
                        //Close dialog
                        _this.updateFormVisible = false;
                        //Search data again
                        _this.selectByCondition();
                        //Show message
                        _this.$message({
                            message: 'Update success',
                            type: 'success',
                            center: true
                        });
                    }else {
                        //Close dialog
                        _this.updateFormVisible = false;
                        //Show message
                        _this.$message({
                            message: 'Username already exists!',
                            type: 'error',
                            center: true
                        });
                    }
                })
            }


        },


        //Data
        data() {
            return {
                //Pagination
                //Current page
                currentPage: 1,
                //Total pages
                totalCount: 0,
                //Current item count
                pageSize: 5,


                //Selected array
                selectIds: [],

                //Add visible
                addFormVisible: false,
                //Update visible
                updateFormVisible: false,
                searchForm: {
                        userName: '',
                        status: ''
                },

                oldName:'',
                //Add form
                userForm: {
                    userName: '',
                    password: '',
                    status: '',
                },
                //Checkbox value?
                multipleSelection: [],

                //Table data
                tableData: [],

            }
        }
    })

</script>


</body>
</html>