<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Teacher Login - Course Scheduling System</title>

</head>

<body>

<div id="loginDiv" style="height: 400px">
    <el-form ref="teacher" :model="teacher" label-width="80px">

        <h1 id="loginMsg" style="font-family: Arial;">Course Scheduling System</h1>
        <el-form-item label="Teacher ID:" prop="id">
            <el-input v-model="teacher.id" style="margin-left: 15px"></el-input>
        </el-form-item>
        <el-form-item label="Password:" prop="password" >
            <el-input v-model="teacher.password"  type="password" style="margin-left: 15px"></el-input>
        </el-form-item>

        <el-form-item label="Code:" prop="checkCode" v-if="false">
            <el-row>
                <el-col :span="12">
                    <el-input v-model="teacher.checkCode" style="margin-left:15px;width:100px"></el-input>
                </el-col>
                <el-col :span="12" align="center ">
                    <img v-bind:src="checkCodeImg" id="checkImg" @click="changeImg"
                         style="margin-left:15px ;height:40px">
                </el-col>
            </el-row>
        </el-form-item>

        <div align="center">
            <el-button type="primary" @click="login">Login</el-button>
            <el-button type="info" @click="resetForm()">Reset</el-button>
        </div>

        <div align="right" style="width: 100%;margin-left: 50px ">
            <el-link :underline="false" @click="changeUser" style="color:#ffd04b">Admin Login</el-link>
        </div>

    </el-form>


</div>


</div>
<!--Import Resources-->
<script src="../js/vue.js"></script>
<script src="../element-ui/lib/index.js"></script>
<link rel="stylesheet" href="../element-ui/lib/theme-chalk/index.css">
<link href="../css/login.css" rel="stylesheet">
<script src="../js/axios-0.18.0.js"></script>

<script>


    //Create Vue core object
    new Vue({
        el: "#loginDiv",
        //Hook function
        mounted() {

            let split = (location + "").split("?")[1];
            if (split == 1) {
                this.$message({
                    message: "You are not logged in!",
                    type: "error",
                    center: true
                })
            }
        },

        methods: {
            //Refresh captcha
            changeImg() {
                this.checkCodeImg = "/user/checkCode?" + new Date().getMilliseconds()
            },

            //Submit form
            login() {
                //Form validation
                var _this = this;
                if (this.checkForm() == false) {
                    this.$message({
                        message: _this.errorMsg,
                        type: "error",
                        center: true
                    })
                } else {
                    //Async request
                    axios({
                        method: "post",
                        url: "/teacher/login",
                        data: _this.teacher
                    }).then(resp => {
                        if (resp.data == "success") {
                            //Prevent cache!
                            location.href = "/t/index.html?" + new Date().getMilliseconds();
                        } else {
                            this.$message({
                                message: resp.data,
                                type: "error",
                                center: true
                            })
                        }
                    })
                }
            },

            //Reset form
            resetForm() {
                this.$refs["teacher"].resetFields();
            },

            //Form validation
            checkForm() {
                //Get model
                var id = this.teacher.id;
                var password = this.teacher.password;
                var checkCode = this.teacher.checkCode;
                if (id == 0) {
                    this.errorMsg = "Please enter teacher ID";
                    return false;
                } else if (id.length != 10 ) {
                    this.errorMsg = "Teacher ID must be 10 characters";
                    return false;
                }
                if (password.length == 0) {
                    this.errorMsg = "Please enter password";
                    return false;
                } else if (password.length > 12 || password.length < 6) {
                    this.errorMsg = "Password must be 6-12 characters";
                    return false;
                }

                return true;
            },


            //Change role
            changeUser(){
                location.href = "/login.html?" + new Date().getMilliseconds();
            }
        },

        //Data
        data() {
            return {
                checkCodeImg: "/user/checkCode",
                errorMsg: "",
                teacher: {
                    id: '',
                    password: '',
                    checkCode: ''
                },


            }
        }

    })

</script>


</body>
</html>
