<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div id="app">
    <!--Search Box-->
    <el-form :inline="true" :model="searchForm" class="demo-form-inline">
        <el-form-item label="Room Name：">
            <el-input v-model="searchForm.room.roomName" placeholder="Fuzzy Search"></el-input>
        </el-form-item>
        <el-form-item label="Time：">
            <el-select v-model="week" clearable  placeholder="Select Weekday" style="width:130px">
                <el-option
                        clearable
                        v-for="item in options1"
                        :key="item.id"
                        :label="item.weekName"
                        :value="item.id">
                </el-option>
            </el-select>
            <el-select v-model="time" clearable  placeholder="Select Period" style="width:130px">
                <el-option
                        clearable
                        v-for="item in options2"
                        :key="item.id"
                        :label="item.timeName"
                        :value="item.id">
                </el-option>
            </el-select>
        </el-form-item>


        <el-form-item>
            <el-button type="primary" @click="selectEmptyRoom">Search Empty Room</el-button>
        </el-form-item>
    </el-form>

    <!--    Table-->
    <el-table
            :data="tableData"
            stripe
            style="width: 100%"
    >

        <el-table-column
                type="index"
                label="No."
                align="center">
        </el-table-column>
        <el-table-column
                prop="room.roomName"
                label="Room Name"
                align="center">
        </el-table-column>
        <el-table-column
                prop="room.capacity"
                label="Capacity"
                align="center">
        </el-table-column>

        <el-table-column
                width="80px"
                prop="timeslot.timeslot"
                label="Time"
                align="center">
        </el-table-column>

        <el-table-column
                prop="room.remark"
                label="Remark"
                align="center">
        </el-table-column>

    </el-table>

    <!--  Pagination  -->
    <div class="block">
        <el-pagination
                @size-change="handleSizeChange"
                @current-change="handleCurrentChange"
                :current-page="currentPage"
                :page-sizes="[5, 10, 20]"
                :page-size="pageSize"
                layout="total, sizes, prev, pager, next, jumper"
                :total="totalCount">
        </el-pagination>
    </div>
</div>

<!--Import Resources-->
<script src="js/vue.js"></script>
<script src="element-ui/lib/index.js"></script>
<link rel="stylesheet" href="element-ui/lib/theme-chalk/index.css">
<script src="js/axios-0.18.0.js"></script>

<script>
    new Vue({
        el: "#app",
        mounted(){
            this.selectEmptyRoom();
        },
        methods:{

            //Select edit
            handleEdit(index, row) {
                //Fill data using JSON to break model binding
                this.courseTableForm.timeslot = JSON.parse(JSON.stringify(row)).timeslot;
                this.courseTableForm.room = JSON.parse(JSON.stringify(row)).room;
            },
            //Course search
            selectEmptyRoom() {
                this.searchForm.timeslot.timeId = this.week + this.time;
                var _this = this;
                axios({
                    method: "post",
                    url: "http://localhost:8080/courseTable/selectEmptyRoom?" +
                        "currentPage=" + _this.currentPage + "&pageSize=" + _this.pageSize,
                    data: this.searchForm
                }).then(function (resp) {
                    //Set table data
                    _this.tableData = resp.data.list;
                    _this.totalCount = resp.data.total;
                })
            },
            //Course pagination
            handleSizeChange(val) {
                //Reset page size
                this.pageSize = val;
                //Search again
                this.selectEmptyRoom();
            },
            handleCurrentChange(val) {
                this.currentPage = val;
                //Search again
                this.selectEmptyRoom();
            },


        },
        data(){
            return{

                //Assign course
                //Current page
                currentPage: 1,
                //Total pages
                totalCount: 0,
                //Current items
                pageSize: 5,
                //Search form
                searchForm: {
                    task: {
                        cclasses: {
                            course: {}
                        },
                        teacher: {}
                    },
                    timeslot: {
                        timeId: ''
                    },
                    room: {
                        roomName: ''
                    }
                },
                tableData: [],

                //Empty room search
                options1: [
                    {id: 1, weekName: 'Monday'}, {id: 6, weekName: 'Tuesday'},
                    {id: 11, weekName: 'Wednesday'}, {id: 16, weekName: 'Thursday'},
                    {id: 21, weekName: 'Friday'}, {id: 26, weekName: 'Saturday'},
                    {id: 31, weekName: 'Sunday'},
                ],
                options2: [
                    {id: 0, timeName: 'Period 1'}, {id: 1, timeName: 'Period 2'},
                    {id: 2, timeName: 'Period 3'}, {id: 3, timeName: 'Period 4'},
                    {id: 4, timeName: 'Period 5'},
                ],
                week: "",
                time: "",
            }
        }

    })
</script>

</body>
</html>