<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Task Management</title>
</head>
<body>
<div id="app">
    <!--Search Box-->
    <el-form :inline="true" :model="searchForm" class="demo-form-inline">
        <el-form-item label="Class Name：">
            <el-input v-model="searchForm.cclasses.classesName" placeholder="Fuzzy Search"></el-input>
        </el-form-item>
        <el-form-item label="Course Name：">
            <el-input v-model="searchForm.cclasses.course.courseName" placeholder="Fuzzy Search"></el-input>
        </el-form-item>
        <el-form-item label="Teacher Name：">
            <el-input v-model="searchForm.teacher.teacherName" placeholder="Fuzzy Search"></el-input>
        </el-form-item>

        <el-form-item>
            <el-button type="primary" @click="selectByCondition">Search</el-button>
        </el-form-item>
    </el-form>

    <!--Batch-->
    <el-row>
        <el-button type="danger" plain @click="deleteByIds">Batch Delete</el-button>
        <el-button type="primary" plain @click="addFormVisible = true">Add Task</el-button>
    </el-row>

    <!--    Table-->
    <el-table
            :data="tableData"
            style="width: 100%"
            @selection-change="handleSelectionChange"
    >
        <el-table-column
                type="selection"
                width="55">
        </el-table-column>
        <el-table-column
                prop="id"
                label="ID"
                align="center">
        </el-table-column>
        <el-table-column
                prop="cclasses.classesName"
                label="Class Name"
                align="center">
        </el-table-column>
        <el-table-column
                prop="cclasses.course.courseName"
                label="Course Name"
                align="center">
        </el-table-column>
        <el-table-column
                prop="teacher.teacherName"
                label="Teacher Name"
                align="center">
        </el-table-column>
        <el-table-column
                prop="weekNode"
                label="Week Period"
                align="center">
        </el-table-column>
        <el-table-column
                prop="startWeek"
                label="Start Week"
                align="center">
        </el-table-column>
        <el-table-column
                prop="endWeek"
                label="End Week"
                align="center">
        </el-table-column>

        <el-table-column label="Operation" align="center">
            <template slot-scope="scope">
                <el-button
                        size="mini"
                        @click="handleEdit(scope.$index, scope.row)">Edit
                </el-button>
                <el-button
                        size="mini"
                        type="danger"
                        @click="handleDelete(scope.$index, scope.row)">Delete
                </el-button>
            </template>
        </el-table-column>

    </el-table>

    <!--Add Dialog   -->
    <el-dialog title="Add Task" :visible.sync="addFormVisible" width="70%">

        <!--Search Box-->
        <el-form :inline="true" :model="searchForm2" class="demo-form-inline">
            <el-form-item label="Class Name：">
                <el-input v-model="searchForm2.classesName" placeholder="Fuzzy Search"></el-input>
            </el-form-item>
            <el-form-item label="Course Name：">
                <el-input v-model="searchForm2.course.courseName" placeholder="Fuzzy Search"></el-input>
            </el-form-item>

            <el-form-item>
                <el-button type="primary" @click="selectByCondition2">Search</el-button>
            </el-form-item>
        </el-form>
        <!--    Table-->
        <el-table
                :data="tableData2"
                style="width: 100%"
        >
            <el-table-column
                    type="index"
                    align="center"
                    label="Index">
            </el-table-column>
            <el-table-column
                    prop="classesName"
                    label="Class Name"
                    align="center">
            </el-table-column>
            <el-table-column
                    prop="course.courseName"
                    label="Course Name"
                    align="center">
            </el-table-column>
            <el-table-column
                    prop="remark"
                    label="Remark"
                    align="center">
            </el-table-column>

            <el-table-column label="Operation" align="center">
                <template slot-scope="scope">
                    <el-button
                            size="mini"
                            type="primary"
                            @click="handleEdit2(scope.$index, scope.row)">Select
                    </el-button>
                </template>
            </el-table-column>

        </el-table>

        <!--Pagination-->
        <div class="block">
            <el-pagination
                    @size-change="handleSizeChange2"
                    @current-change="handleCurrentChange2"
                    :current-page="currentPage2"
                    :page-sizes="[3, 6, 9]"
                    :page-size="pageSize2"
                    layout="total, sizes, prev, pager, next, jumper"
                    :total="totalCount2">
            </el-pagination>
        </div>

        <!--Selected Result -->
        <el-form :inline="true" :model="taskForm" class="demo-form-inline" style="margin-top: 20px">
            <el-form-item label="Class Name">
                <el-input v-model="taskForm.cclasses.classesName" :disabled="true" style="width:370px"></el-input>
            </el-form-item>

            <el-form-item label="Course Name">
                <el-input v-model="taskForm.cclasses.course.courseName" :disabled="true" ></el-input>
            </el-form-item>

            <el-form-item label="Teacher Name">
                <el-select v-model="value"  style="width:100px">
                    <el-option
                            clearable
                            v-for="item in options"
                            :key="item.id"
                            :label="item.teacherName"
                            :value="item.id">
                    </el-option>
                </el-select>
            </el-form-item>
            <el-form-item label="Week Period">
                <el-input v-model="taskForm.weekNode" style="width:100px"></el-input>
            </el-form-item>
            <el-form-item label="Start Week">
                <el-input v-model="taskForm.startWeek" style="width:100px"></el-input>
            </el-form-item>
            <el-form-item label="End Week">
                <el-input v-model="taskForm.endWeek" style="width:100px"></el-input>
            </el-form-item>

            <el-form-item>
                <el-button type="primary" @click="addTask">Submit</el-button>
            </el-form-item>

        </el-form>

    </el-dialog>

    <!--Edit Dialog   -->
    <el-dialog title="Edit Task" :visible.sync="updateFormVisible" width="50%">
        <!--Selected Result -->
        <el-form :inline="true" :model="taskForm" class="demo-form-inline" style="margin-top: 20px">
            <el-form-item label="Class Name">
                <el-input v-model="taskForm.cclasses.classesName" :disabled="true" style="width:370px"></el-input>
            </el-form-item>

            <el-form-item label="Course Name">
                <el-input v-model="taskForm.cclasses.course.courseName" :disabled="true" ></el-input>
            </el-form-item>

            <el-form-item label="Teacher Name">
                <el-select v-model="value" :placeholder="taskForm.teacher.teacherName" style="width:100px">
                    <el-option
                            clearable
                            v-for="item in options"
                            :key="item.id"
                            :label="item.teacherName"
                            :value="item.id">
                    </el-option>
                </el-select>
            </el-form-item>
            <br>
            <el-form-item label="Week Period">
                <el-input v-model="taskForm.weekNode" style="width:100px"></el-input>
            </el-form-item>
            <el-form-item label="Start Week">
                <el-input v-model="taskForm.startWeek" style="width:100px"></el-input>
            </el-form-item>
            <el-form-item label="End Week">
                <el-input v-model="taskForm.endWeek" style="width:100px"></el-input>
            </el-form-item>

            <el-form-item>
                <el-button type="primary" @click="updateTask">Submit</el-button>
            </el-form-item>

        </el-form>

    </el-dialog>


    <!--Pagination-->
    <div class="block">
        <el-pagination
                @size-change="handleSizeChange"
                @current-change="handleCurrentChange"
                :current-page="currentPage"
                :page-sizes="[5, 10, 15, 20]"
                :page-size="pageSize"
                layout="total, sizes, prev, pager, next, jumper"
                :total="totalCount">
        </el-pagination>
    </div>

</div>


<!--Import Resources-->
<script src="js/vue.js"></script>
<script src="element-ui/lib/index.js"></script>
<link rel="stylesheet" href="element-ui/lib/theme-chalk/index.css">
<script src="js/axios-0.18.0.js"></script>


<script>
    //Create Vue core object
    new Vue({
        el: "#app",
        mounted() {
            this.selectByCondition();
            //Query class course
            this.selectByCondition2();
        },
        methods: {

            //Edit  Delete
            handleEdit(index, row) {
                //Fill data using JSON to break model binding
                this.taskForm = JSON.parse(JSON.stringify(row));
                this.selectTeacher();
                //Open edit form
                this.updateFormVisible = true;
            },

            handleDelete(index, row) {
                this.multipleSelection[0] = row;
                this.deleteByIds();
            },

            //Search
            selectByCondition() {
                var _this = this;
                axios({
                    method: "post",
                    url: "http://localhost:8080/task/selectByCondition?"+
                        "currentPage=" +_this.currentPage+"&pageSize="+_this.pageSize,
                    data: this.searchForm
                }).then(function (resp) {
                    //Set table data
                    _this.tableData = resp.data.list;
                    _this.totalCount = resp.data.total;
                })
            },

            //Query all teachers for the course
            selectTeacher(){
                var _this = this;
                axios({
                    method: "post",
                    url: "http://localhost:8080/cteacher/selectTeacher",
                    data: this.taskForm.cclasses.course
                }).then(function (resp) {
                    //Set table data
                    _this.options = resp.data;
                    _this.value = _this.taskForm.teacher.id;
                })
            },



            //Pagination
            handleSizeChange(val) {
                //Reset page size
                this.pageSize = val;
                //Search again
                this.selectByCondition();
            },
            handleCurrentChange(val) {
                this.currentPage = val;
                //Search again
                this.selectByCondition();
            },


            //Checkbox event
            handleSelectionChange(val) {
                this.multipleSelection = val;
            },

            //Batch delete
            deleteByIds() {
                var _this = this;
                //Not selected
                if (this.multipleSelection.length == 0){
                    //Show message
                    _this.$message({
                        message: 'No selected items!',
                        type: 'error',
                        center: true
                    });
                }else {
                    this.$confirm('This operation will delete the data, continue?', "Prompt", {
                        confirmButtonText: "Confirm",
                        cancelButtonText: "Cancel",
                        type: "warning"
                    }).then(() => {
                        //User clicks confirm button
                        for (let i = 0; i < this.multipleSelection.length; i++) {
                            this.selectIds[i] = this.multipleSelection[i].id;
                        }
                        //Send ajax request
                        axios({
                            method: "post",
                            url: 'http://localhost:8080/task/deleteByIds',
                            data: _this.selectIds
                        }).then(function (resp) {
                            if (resp.data == "success") {
                                //Delete success, search again
                                _this.selectByCondition();
                                //Show message
                                _this.$message({
                                    message: 'Operation successful',
                                    type: 'success',
                                    center: true
                                });
                            }

                        })
                    })
                }

            },


            //Submit add form
            addTask() {
                var _this = this;
                if (this.value.length!=0){
                    this.taskForm.teacher.id = this.value;
                }
                axios({
                    method: "post",
                    url: "http://localhost:8080/task/add",
                    data: _this.taskForm
                }).then(function (resp) {
                    if (resp.data == "success") {
                        //Close dialog
                        _this.addFormVisible = false;
                        //Search data again
                        _this.selectByCondition();
                        //Show message
                        _this.$message({
                            message: 'Update success',
                            type: 'success',
                            center: true
                        });
                    }else {
                        //Close dialog
                        _this.addFormVisible = false;
                        //Show message
                        _this.$message({
                            message: 'Task already exists!',
                            type: 'error',
                            center: true
                        });
                    }
                })
            },

            //Submit update form
            updateTask() {
                var _this = this;
                if (this.value.length!=0){
                    this.taskForm.teacher.id = this.value;
                }
                axios({
                    method: "post",
                    url: "http://localhost:8080/task/update",
                    data: _this.taskForm
                }).then(function (resp) {
                    if (resp.data == "success") {
                        //Close dialog
                        _this.updateFormVisible = false;
                        //Search data again
                        _this.selectByCondition();
                        //Show message
                        _this.$message({
                            message: 'Update success',
                            type: 'success',
                            center: true
                        });
                    }else {
                        //Close dialog
                        _this.updateFormVisible = false;
                        //Show message
                        _this.$message({
                            message: 'Task already exists!',
                            type: 'error',
                            center: true
                        });
                    }
                })
            },


            //Select Edit
            handleEdit2(index, row) {
                //Fill data using JSON to break model binding
                this.taskForm.cclasses = JSON.parse(JSON.stringify(row));
                this.selectTeacher();
            },
            //Course Search
            selectByCondition2() {
                var _this = this;
                axios({
                    method: "post",
                    url: "http://localhost:8080/cclasses/selectByCondition?" +
                        "currentPage=" + _this.currentPage2 + "&pageSize=" + _this.pageSize2,
                    data: this.searchForm2
                }).then(function (resp) {
                    //Set table data
                    _this.tableData2 = resp.data.list;
                    _this.totalCount2 = resp.data.total;
                })
            },
            //Course pagination
            handleSizeChange2(val) {
                //Reset page size
                this.pageSize2 = val;
                //Search again
                this.selectByCondition2();
            },
            handleCurrentChange2(val) {
                this.currentPage2 = val;
                //Search again
                this.selectByCondition2();
            },


        },


        //Data
        data() {
            return {
                //Pagination
                //Current page
                currentPage: 1,
                //Total pages
                totalCount: 0,
                //Current item count
                pageSize: 5,


                //Selected array
                selectIds: [],

                //Add visible
                addFormVisible: false,
                //Update visible
                updateFormVisible: false,
                searchForm: {
                    cclasses:{
                        course:{}
                    },
                    teacher:{}
                },

                oldName:'',
                //Add form
                taskForm: {
                    cclasses:{
                        classesName: '',
                        course:{
                            courseName:''
                        }
                    },
                    teacher:{
                        id:'',
                        teacherName:'',
                    },
                    weekNode:'',
                    startWeek:"",
                    endWeek:"",
                },

                //Checkbox value?
                multipleSelection: [],

                //Table data
                tableData: [],


                //Assign course
                //Current page
                currentPage2: 1,
                //Total pages
                totalCount2: 0,
                //Current item count
                pageSize2: 3,
                //Search form
                searchForm2: {
                    classesName:'',
                    course:{
                        courseName:''
                    }
                },
                tableData2: [],

                options: [],
                value:''

            }
        }
    })

</script>


</body>
</html>